<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
     <li>
       <%= link_to "logout", destroy_user_session_path, method: :delete %>
     </li>
    <% else %>
      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>


    <h3>User info</h3>

    <h3>New book</h3>
    <%= form_with model: @book, local:true do |f| %>
    <h4>title</h4>
    <%= f.text_field :title %>
    <h4>opinion</h4>
    <%= f.text_area :opinion %></br>
    <%= f.submit "Create Book" %>
    <% end %>

    <%= yield %>
  </body>
</html>
